<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='books.css')}}">
    </head>
    <body class="backimg">
    <a href="{{url_for('index')}}" class="btn btn-primary btn-right">Logout</a>
    <ul>
    {%for book in books%}
    <li>
        <a class="bookslist" href="{{url_for('book', book_id=book.id)}}">
             ISBN={{book.isbn}}<br>Title={{book.title}}<br>Author={{book.author}}
        </a>
    </li><br>
    {%endfor%}
    </ul>
</body>

